<?xml version="1.0"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee "
         version="2.4">
  <description>

  </description>

  <display-name>MMBase taglib tests</display-name>

  <context-param>
    <param-name>mmbase.taglib.eval_body_include</param-name>
    <param-value>true</param-value>
  </context-param>

  <jsp-config>
    <taglib>
      <taglib-uri>http://www.mmbase.org/mmbase-taglib-1.0</taglib-uri>
      <taglib-location>/META-INF/mmbase-taglib.tld</taglib-location>
    </taglib>


    <taglib>
      <taglib-uri>http://www.mmbase.org/mmbase-taglib-2.0</taglib-uri>
      <!--
          tag-files don't work at all in jetty:run
          For now the tag-files can't be tested like this.

          <taglib-location>/META-INF/mmbase-taglib-2.tld</taglib-location>
      -->
      <taglib-location>/META-INF/mmbase-taglib.tld</taglib-location>
    </taglib>
  </jsp-config>

  <listener>
    <listener-class>org.mmbase.bridge.mock.MockSetup</listener-class>
  </listener>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.jspx</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
