@import url("../../mmbase/style/css/mmbase.css");

textarea { 
  width: 100%;
  height: 20ex;
}

input { 
} 



th {
 text-align: left;
}

td{
  width: 40%;
  background-color:#eeeeee;
  vertical-align: top;
}

table.search {
  width: 100%;
  display: block;
  position: relative;
}
table.search input.small { 
  width: 100%;
}

table.search input { 
  width: 10ex;
}

span.google {
  background-color: yellow;
}

img {
  /* terrible hack for IE */
  behavior: url("../../mmbase/style/pngbehavior.htc");
}
