@import url("../../mmbase/style/css/mmbase.css");

textarea { 
  width: 100%;
  height: 20ex;
}

input { 
  width: 100%;
} 


table {
  background-color:#cccccc;
  padding:2px 2px 2px 2px;
}

th {
 text-align: left;
}

td{
  background-color:#eeeeee;
  padding:2px 2px 2px 2px;
  vertical-align: top;
}

table.search {
  width: 100%;
  display: block;
  position: relative;
}
table.search input.small { 
  width: 100%;
}

table.search input { 
  width: 10ex;
}
