
textarea.huge {
   height: 60em;
}

textarea.small {
   height: 10em;
}

textarea {
    height: 20em;
    width: 100%;    
}

table {
	border: solid green 1px;
    padding: 1px;	
	width:  100%;
}
table td {
   border: solid #b0b0b0 2px;
   padding: 3px;
   with: 100%;
}

pre {
	width: 100%;
}